/*defaul settings*/
p{
	 font-family: 'Jost', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Sora', sans-serif;

}

/*head bar*/
.head-bar-dot{
	font-size: 11px !important;
	color: #64c2f5 !important;
}

/*nav bar*/

#navbar {
  
  position: fixed;
  top: 0;

  display: block;
  transition: top 0.3s;
}

.nav {
    width: 100%;
    height:auto;
   position: fixed;
    background-color: white;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
}

.nav div.main_list {
    height: auto;;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height:  auto;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.nav div.main_list ul li {
    width: auto;
    height:  auto;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height:  auto;
    font-size: 18px;
    font-weight: bold;
}
.nav div.main_list ul li a: hover{
    text-decoration: none;
    color: #fff;
    line-height:  auto;
    font-size: 18px;
    
}
.nava:hover{
    color: #64c2f5;
    transition-duration: .3s;
}

.w-img{
    opacity: 70%;
    transition-duration: .6s;
}
.w-img:hover{
    opacity: 100% ;
}
.mission{
    margin-top: -17% !important;
}






/* Home section */
.home{
	height: 680px;
	
}
.head-row{
    height: 100%;
}
.head-img{
    width: 400px;
}
.main-head{
	font-size: 35px;
}
.main-head-2{
	font-size: 35px;
}
.head-section{
	margin-left: 20%;
}
.ital-text{
	font-family: 'Italianno', cursive !important; 
	font-size: 14px;
}
.btn-1 {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .8rem;
    /* border-radius: .25rem; */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-1:hover{
    color: white !important;
    background-color: #212529 !important ;
}



.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.about-sub-hd{
	font-family: 'Jost', sans-serif !important;
}
.about-p{
  line-height: 2;
}
.points{
  color: #64c2f5;
}
/*work enegry types*/
.transp-bg-1{
	background-image: url(../images/tranparent-bg-1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*services*/
.sep-clr{
	color: #64c2f5;
	font-size: 24px;
}
.sep-clr1{
    background-color: #64c2f5;
   
}
.service-clms:hover{
	border: 2px solid #64c2f5;
	border-radius:30px;

}

/*work section carousel*/
@charset "utf-8";

/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
   width:94%;
    margin:0 auto;
}

.slider img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}


/*========= レイアウトのためのCSS ===============*/

/*enquery */
.page-wrapper {
  min-height: 60vh;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

form div {
  position: relative;
}
form input,
form textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  width: 100%;
  font-family: "Monsterrat", sans-serif;
  font-size: 1em;
  padding: 8px;
  transition: all 0.5s;
}
.ok-icon::after {
  content: "";
  position: absolute;
  border-left: 4px solid rgb(31, 233, 31);
  border-bottom: 4px solid rgb(31, 233, 31);
  height: 12px;
  width: 18px;
  top: 26px;
  right: 20px;
  margin-top: 0;
  -webkit-transform: rotate(-54deg);
  transform: rotate(-54deg);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.ok-icon::before {
  content: "*";
  opacity: 0;
  position: absolute;
  height: 10px;
  width: 10px;
  color: red;
  top: 26px;
  right: 20px;
  font-size: 1.4rem;
}
form input:focus {
  background-color: rgb(22, 22, 22);
  color: white;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
form input:invalid + .ok-icon::before,
form textarea:invalid + .ok-icon::before {
  opacity: 1;
  -webkit-transition: opacity 0.5s 0.8s;
  transition: opacity 0.5s 0.8s;
}
form input:valid + .ok-icon::after,
form textarea:valid + .ok-icon::after {
  opacity: 1;
  -webkit-transition: opacity 0.5s 0.8s;
  transition: opacity 0.5s 0.8s;
}
/* this hack is taken from https://css-tricks.com/snippets/css/change-autocomplete-styles-webkit-browsers/ originaly made by https://twitter.com/lydiadugger */
form input:-webkit-autofill,
form input:-webkit-autofill:hover,
form input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
/* end of hack */
form textarea {
  height: 34px;
  padding-right: 40px;
  -webkit-transition: background-color 0.5s, height 0.5s;
  transition: background-color 0.5s, height 0.5s;
}
form textarea::-webkit-scrollbar {
  display: none;
}
form textarea:focus {
  height: 100px;
  -webkit-transition: background-color 0.5s, height 0.5s;
  transition: background-color 0.5s, height 0.5s;
  background-color: rgb(22, 22, 22);
  color: white;
}
form input:valid {
  background-color: rgb(22, 22, 22);
  color: white;
}
form textarea:valid {
  min-height: 100px;
  background-color: rgb(22, 22, 22);
  color: white;
}
form label {
  visibility: hidden;
}
form button {
  color: white;
  text-transform: uppercase;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  font-family: "Assistant", sans-serif;
  font-size: 1.12rem;
  background-color: rgb(20, 149, 172);
  margin-top: 40px;
}
form:valid button:hover {
  background-color: rgb(80, 201, 238);
  color: rgb(15, 15, 15);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
form button:disabled {
  background-color: lightgrey;
  cursor: default;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
form:valid button {
  background-color: rgb(20, 149, 172);
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}
form:valid button:focus.show-outline {
  border: 3px solid rgb(22, 22, 22);
}
.confirmation {
  padding: 10px;
  border: 1px solid rgb(158, 25, 25);
  background-color: rgb(248, 177, 177);
  margin: 20px 0;
}


/*footer*/

.footer-bg{
	background-color: #0a285c;
}
/*slider*/


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }

}

@media screen and (max-width:768px) {
    .mission{
    margin-top: 0% !important;
}
    .setof-comp{
        margin-top: 8%;
    }
    .head-img{
    display: none;
}
.head-img-1{
    display: none !important;
    height: 0px;
}
.head-row{
    height: auto !important;
}
.home{
    height: 400px !important;

    
}

    .navTrigger {
        display: block;
        
    }
   
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height:auto;
        right: 0;
        left: 0;
        bottom: 0;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 1.5rem;
    }
    .nav div.media_button {
        display: block;
    }
    .home{
	height: 689px;
}
.main-head{
	font-size:2.2rem;
	 margin-top: 48%;
}
.main-head-2{
	    font-size: 2rem;
   
}
.head-section{
	margin-left: 20%;
}
.ital-text{
	font-family: 'Italianno', cursive !important; 
	font-size: 1rem;
}
.btn-1 {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .7rem;
    /* border-radius: .25rem; */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-2 {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .7rem;
    /* border-radius: .25rem; */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin-top: 9%;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #262626;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}






.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .myP {
    padding:2%;
  }
   .vission{
      display: none;
    }

    /*works section on mobile*/
    .flex-images{
        width: 48% !important;
    }
    .second-row-images{
        display: none; !important;
    }
    
}


/*back to top */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right:20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffc107;
  color: black;
  cursor: pointer;
  padding: 15px;
  transition-duration:.4s ;
}

#myBtn:hover {
  background-color: #262626;
  color: white;
}










/*-- services--*/

.wthree-s1 {
  margin-top: 5em;
  padding: 4em;
  transition: all 0.5s;
}

.wthree-s1 p {
  color: #fff;
}

span.sicon {
  font-size: 3em;
  color: #fff;
}

.elite-services1 {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0px 8px 0 rgb(0 0 0 / 10%), 0 0px 20px 0 rgb(0 0 0 / 8%);
}

.elite-services2 {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0px 8px 0 rgb(0 0 0 / 10%), 0 0px 20px 0 rgb(0 0 0 / 8%);
}

.elite-services3 {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0px 8px 0 rgb(0 0 0 / 10%), 0 0px 20px 0 rgb(0 0 0 / 8%);
}

.elite-services4 {
 background: white;
  border-radius: 8px;
  box-shadow: 0 0px 8px 0 rgb(0 0 0 / 10%), 0 0px 20px 0 rgb(0 0 0 / 8%);
}

.wthree-s1:hover {
  background: #000;
}

/*-- //services --*/
/*-- Principles --*/
.principles {
  padding: 100px 0 300px;
  position: relative;
  background-color: #EEE;
}

.about-right p {
  line-height: 30px;
}

.abt-btm.agileits.w3layouts {
  padding: 4em 0 0;
}

.bott-img {
  width: 100%;
  height: 250px;
  margin: 0px 0;
  text-align: center;
  transition: all 0.3s ease;
}

.bott-img:hover {
  padding: 0 20px;
}

.bott-img .icon-holder {
  position: relative;
  top: 60px;
  display: inline-block;
  margin-bottom: 68px;
  padding: 20px 18px;
  transition: all 0.3s ease;
  border-radius: 100%;
  color: #fff;
  font-size: 26px;
  /*--w3layouts--*/
  /*--agileits--*/
}

.bott-img .mission {
  position: relative;
  top: 50px;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #000;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  color: #fff;
}

.bott-img .description {
  margin: -6em auto 0;
  opacity: 0;
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: scale(0);
}

.description.agileits.w3layouts p {
  margin: 2em;
  color: #fff;
}

.bott-img .icon-holder>.service-icon {
  width: 40px;
}

.bott-img:hover .icon-holder {
  top: -40px;
  background: #64c2f5;
}

.bott-img:hover .mission {
  top: -80px;
}

.bott-img:hover .description {
  opacity: 1;
  transform: scale(1);
  font-size: 14px;
  line-height: 2.2em;
}

.bott-img:hover .description a {
  top: -60px;
}

.description a {
  font-size: 17px;
  line-height: 26px;
  font-weight: 600;
}

.description p {
  color: black;
  font-size: 16px;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description a:hover {
  color: #fff;
}

.principles-grids2 {
  background-color: #F5F5F5;
  position: absolute;
  top: 40%;
  right: 20%;
  width: 35%;
  padding: 50px 50px 50px 125px;
}

.principles-grids2 h3 {
  text-align: left;
  width: 50%;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #1dc8d9;
}

.slider-4 p {
  line-height: 30px;
  font-weight: 100;
  color: #000;
}

.slider-4 h4 {
  float: right;
  margin-top: 20px;
  font-weight: 600;
  color: #1dc8d9;
}

/*-- //Principles --*/

/*-- projects hover --*/
.container .title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}
.image-block {
  display: block;
  position: relative;
}
.content-details h3 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}

/*-- //projects hover --*/

/*--services --*/
.w3-services {
  background: url(../images/services.jpg) no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-attachment: fixed;
}

.w3-services-left-grid h3 {
  color: #232527;
}

.w3-icon-grid1 a {
  display: block;
}

.w3-icon-grid1 a:hover h3 {
  color: #29a19c;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.w3-services-left-grid h4 {
  color: #232527;
  font-size: 35px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 15px;
}

.w3-services-left-grid p,
.w3-icon-grid1 p {
  font-size: 17px;
  line-height: 26px;
  color: #777;
  padding: 0 0em;
  margin: 0;
}

.w3-icon-grid1 span.fa {
  font-size: 25px;
  float: left;
  width: 40px;
}

.w3-services-right-grid h3 {
  color: #232527;
  font-size: 22px;
  line-height: 27px;
  float: left;
  margin-bottom: 15px;
  font-weight: 600;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.w3-icon-grid1:nth-child(1),
.w3-icon-grid1:nth-child(2),
.w3-icon-grid1:nth-child(3) {
  margin-bottom: 50px;
}

@media (max-width: 568px) {

  .w3-icon-grid1:nth-child(1),
  .w3-icon-grid1:nth-child(2),
  .w3-icon-grid1:nth-child(3) {
    margin-bottom: 30px;
  }

  .w3-icon-grid1 {
    margin-bottom: 30px;
  }

  .w3-icon-grid1:last-child {
    margin-bottom: 0px;
  }

  .w3-services-left-grid h4 {
    font-size: 30px;
    line-height: 35px;
  }
}

@media (max-width: 415px) {
  .w3-services-right-grid h3 {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 10px;
  }
  .w3-services-left-grid h4 {
    font-size: 26px;
    line-height: 33px;
  }
}

/*-- //services --*/
/*-- w3l-services-block --*/
.w3l-services-block {
  background: #f8f9fa;
}

.w3l-services-block h3 {
  color: #fff;
}

.w3_head {
  text-align: center;
  color: #303030;
  margin: 0 0 1em;
  font-size: 2.5em;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.agileits_w3l-services-block_grids {
  margin: 0em 0 3em;
}

.agileits_w3l-services-block_grid {
  padding: 2em;
  border: 1px solid #999;
  border-left: 3px solid #999;
  text-align: left;
  border-right: none;
  background: #fff;
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  -ms-transition: .5s ease-in;
}

.agileits_w3l-services-block_grid h5 {
  font-size: 1.5em;
  color: #000;
  margin: 0em 0 .5em;
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  -moz-transition: .5s ease-in;
  -o-transition: .5s ease-in;
  -ms-transition: .5s ease-in;
}

.agileits_w3l-services-block_grid p {
  color: #7e7e7e;
  line-height: 2em;
  font-size: 16px;
}

.service_grid_btm_left1 {
  transition: all 300ms ease-in-out;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.service_grid_btm_left1:before {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #29a19c;
  border-right: 2px solid #29a19c;
}

.service_grid_btm_left1:after,
.service_grid_btm_left1:before {
  content: '';
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
  transition: all 800ms ease-in-out;
  border-radius: 8px;
}

.service_grid_btm_left1:after {
  top: 0;
  left: 0;
  border-top: 2px solid #29a19c;
  border-left: 2px solid #29a19c;
}

.service_grid_btm_left1:hover:after,
.service_grid_btm_left1:hover:before {
  width: 100%;
  height: 100%;
  visibility: visible;
}

.service_grid_btm_left2 h5 {
  margin: 0em 0 .5em;
  color: #232527;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  text-transform: capitalize;
  transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
}

.service_grid_btm_left2 p {
  color: #777;
  font-size: 17px;
  line-height: 26px;
  margin: 0;
}

.service_grid_btm_left2 {
  padding: 2em 1em;
  border: none;
  background: #fff;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.service_grid_btm_left1:hover {
  cursor: default;
}

.service_grid_btm_left img {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.service_grid_btm_left1:hover .service_grid_btm_left2 i {
  color: #29a19c;
  border-color: #252525;
  transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
}

.service_grid_btm_left2 span.fa {
  display: inline-block;
  font-size: 30px;
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .service_grid_btm_left2 h5 {
    font-size: 22px;
  }
}

/*-- //w3l-services-block --*/
.w3l-open-block-services h4.mission {
  color: #232527;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
}

.w3l-open-block-services h3.head-title {
  color: #232527;
  font-size: 40px;
  line-height: 45px;
  font-weight: 600;
  margin-bottom: 55px;
  text-align: center;
}

.w3l-open-block-services .open-description a {
  font-size: 17px;
  line-height: 26px;
  font-weight: 600;
}

.w3l-open-block-services .open-description a:hover {
  color: #fff;
}

.w3l-open-block-services .open-description p {
  color: #777;
  font-size: 17px;
  line-height: 26px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.w3l-open-block-services .icon-holder span.fa {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  transition: all 0.3s ease;
  border-radius: 100%;
  color: #fff;
  font-size: 26px;
}

.w3l-open-block-services .card {
  padding: 40px 25px;
  position: relative;
  background: rgba(41, 161, 156, 0.1);
  border: none;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  border-radius: 8px;
}

.w3l-open-block-services .card:hover {
  background: #1f242c;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.w3l-open-block-services .card:hover h4.mission {
  color: #fff;
}

.w3l-open-block-services .card:hover .open-description p {
  color: #ccc;
}

.w3l-open-block-services .card .icon-holder {
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
}

@media (max-width: 991px) {
  .w3l-open-block-services h3.head-title {
    font-size: 35px;
    line-height: 40px;
  }
}

.w3l-contacts-12 .main-images a {
  display: inline-block;
}

.w3l-contacts-12 .contacts12-main {
  margin: auto;
  max-width: 700px;
  text-align: center;
}

.w3l-contacts-12 .contact-head {
  color: #232527;
  line-height: 50px;
  font-size: 45px;
}

.w3l-contacts-12 .contact {
  text-align: center;
}

.w3l-contacts-12 input.contact-input,
.w3l-contacts-12 textarea {
  outline: none;
  border: none;
  padding: 17px 20px;
  -webkit-appearance: none;
  border-radius: 0;
  background: #eee;
  color: #777;
  width: 100%;
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 15px;
}

.w3l-contacts-12 textarea {
  height: 180px;
  resize: none;
}

.w3l-contacts-12 button.btn {
  font-size: 17px;
  line-height: 25px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px 50px;
}

.w3l-contacts-12 button.btn:hover {
  color: #a3f7bf;
  background: #1f242c;
}

@media (max-width: 768px) {
  .w3l-contacts-12 textarea {
    height: 150px;
  }
}
/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  padding-top: 20px;
}

.features .icon-box {
  padding-left: 15px;
}

.features .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .icon-box i {
  font-size: 48px;
  float: left;
  color: #64c2f5;
}

.features .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}

.features .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #151515;
  background: #ffc451;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(21, 21, 21, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(21, 21, 21, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #ffc451;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ffc451;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffc451;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(21, 21, 21, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}
