.contact-bg{
	background-image: url(../images/contact.jpg);
	
	background-size: cover;
}
.contact-bg1{
    background-image: url(../images/tranparent-bg-1.png);
    
    background-size: cover;
}
.contact-cover{
	padding: 0px;
	height: 12rem;
	background-color: rgba(215 219 224 / 76%);


}
.input {
  transition: box-shadow 0.3s, border-color 0.3s;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(88, 99, 248, 0.15);
  }
}
.hover\:bg-blue-600:hover {
    --bg-opacity: 1;
    background-color:#64c2f5 !important;
    background-color: rgba(49,130,206,var(--bg-opacity));
}
.border-blue-600 {
    --border-opacity: 1;
    border-color: #64c2f5 !important;
    border-color: rgba(49,130,206,var(--border-opacity));
}
.text-blue-600 {
    --text-opacity: 1;
    color: #64c2f5 !important;
    color: rgba(49,130,206,var(--text-opacity));
}
.text-blue-600:hover{
	 color: black !important;
}